<form action="/posts/<%= @post.id %>" method="post">
<input type="hidden" id="hidden" name="_method" value="patch" />
<h2>New blog:</h2>
<label>Title: <input type="text" name="title" /></label>
<label>Content: <input type="text" name="content" /></label>
<input type="submit" id="submit" />
</form>
